body{
    background-image: url(image/backgroundig.jpeg);
    text-align: center;
    color: white;

}

.register{
    background-color: rgba(218, 201, 201, 0.5);
    height: 600px;
    width: 500px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 30px;
    left: 200px;
    border-radius: 100px;
    /* margin: 300px; */
    
}
input{
    position: relative;
    top: 10px;
    left: 20px;
    font-size: larger;
    border-radius: 10px;
}
button{
    color: black;
    border-radius: 7px;
    background-color: white;
}